.container{
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  align-items: flex-end;
  .input{
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    font-size: 30px;
    //font-size: 44px;
    //max-width: 330px;
    //max-width: 330px;
    width: 100%;
    height: 50%;
    padding-right: 60px;
    border: none;
    text-overflow: ellipsis;
    color:rgba(0, 0, 0, 0.79);
    &::placeholder{
      color: rgba(0, 0, 0, 0.79);
    }
  }
  .borderContainer{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    opacity: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    align-items: flex-end;
    button{
      transition: 0.5s;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .border{
    width: 0%;
    height: 1px;
    background-color: #ffffff;
    right: 0%;
  }
}

.copyIcon{
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  right: -20px
}

.container:hover .copyIcon {
  animation: showClipBoard 0.3s linear forwards;
}

.inputContainer{
  display: flex;
  align-items: center;
}

.clickedCopy{
  animation: swapColor 0.7s linear forwards;
}

.container:hover .border{
  transition: 0.3s;
  animation: input-border 0.5s linear forwards;
}


@keyframes swapColor {
  0%{
    border-bottom: 1px black solid;
  }
  50%{
    border-bottom: 1px #58ff58 solid;
  }
  100%{
    border-bottom: 1px black solid;
  }
}

@keyframes showClipBoard {
  0%{
    right: -20px;
    opacity: 0;
  }
  50%{
    right: 0;
    opacity: 0.5;
  }
  100%{
    right: 0;
    opacity: 1;
  }
}

@keyframes input-border {
  from{
    width: 0%;
  }
  to{
    width: 100%;
    opacity: 0;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
