.container{

}

.button{
  padding: 10px;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
  background: rgb(40,48,72);
  background: radial-gradient(circle, rgba(40,48,72,0.2) 0%, rgba(0,0,0,0.1) 100%);
  cursor: pointer;
}